{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{%block body%} <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/clothing.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>DMP Clothing</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src=/static/clothing3.jpg class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/clothing2.avif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="container my-3">
        <h1 class="my-2 text-center">Our Products</h1>

        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/clothing4.jpg" class="d-block w-100" alt="...">
              
  
              <div class="card-body">
                <p class="card-text">Shop From DMP Clothing Online Store in India At Unbelievable Prices. It’S Time To Upgrade Your Wardrobe With All Things New! Shop Our Best Summer Styles Now! No Additional GST. Amenities: Trending Brands, Free Shipping, Pay Cash on Delivery..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="nav-link active" aria-current="page" href="/jeans">BUY JEANS</a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/tshirt.avif" class="d-block w-100" alt="...">

  
              <div class="card-body">
                <p class="card-text">Shop From DMP Clothing Online Store in India At Unbelievable Prices. It’S Time To Upgrade Your Wardrobe With All Things New! Shop Our Best Summer Styles Now! No Additional GST. Amenities: Trending Brands, Free Shipping, Pay Cash on Delivery..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="nav-link active" aria-current="page" href="/TShirts">BUY T-Shirts</a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/shirt.avif" class="d-block w-100" alt="...">

  
              <div class="card-body">
                <p class="card-text">Shop From DMP Clothing Official Online Store in India At Unbelievable Prices. It’S Time To Upgrade Your Wardrobe With All Things New! Shop Our Best Summer Styles Now! No Additional GST. Amenities: Trending Brands, Free Shipping, Pay Cash on Delivery..</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="nav-link active" aria-current="page" href="/Shirts">BUY Shirts</a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
  
          
         
              </div>
            </div>
          </div>
          
                </div>
              </div>
            </div>
          </div>
        </div>
      
  </div>{%endblock body%}