{% extends 'base.html' %}

{% block title %}Jeans{% endblock title %}

{%block body%}<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-5">
    <div class="bg-light me-md-1 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Dark Blue Straight</h2>
        <p class="lead">$30</p>
      </div>
      <img  src="/static/dark blue.jpg" class="d-block w-100 " alt="..." >
      <a class="nav-link active" aria-current="page" href="/checkout"> <h3> BUY </h3> </a>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Light Blue Narrow </h2>
        <p class="lead">$25</p>
        <img  src="/static/light blue.jpg" class="d-block w-100 " alt="..." >
        <a class="nav-link active" aria-current="page" href="/checkout"> <h3> BUY </h3> </a>
        <style>
            img{
                height:500px;
                border-radius:30%;
            }
        </style>
      </div>
    </div>
  </div> {%endblock body%}